* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    padding: 10px;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.btn {
    color: #fff;
    font-weight: 700;
    padding: 12px 45px;
    border-radius: 5px;
    background: rgb(0, 220, 110);
    cursor: pointer;
    width: 150px;
}

.short-hr {
    align-self: center;
    width: 100%;
}

.long-hr {
    align-self: center;
    width: 200%;
}

.main {
    padding: 50px;
    max-width: 1190px;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

fieldset {
    border: none;
    padding: 10px;
}

.details-form {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.field-lable {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.form-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

textarea {
    padding: 10px;
}

input,
select {
    padding: 10px;
}

legend {
    font-size: 20px;
    font-weight: 700;
}

.radio {
    cursor: pointer;
}

table {
    border: 2px solid #888;
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 2px solid #888;
}

.table-num,
.th {
    background: rgb(206, 206, 206);
    text-align: center;
}

.hidden {
    display: none;
}

th {
    padding: 10px;
}

.table-num {
    width: 10%;
}

.table-input {
    border: none;
    width: 95%;
    background-color: transparent;
}

.submit {
    padding: 0 50px;
}

.section-error {
    background: #ffdada70;
}

.required-section::after {
    content: ' *';
    color: red;
}

.name-error::after {
    content: "   Name can not have numbers, spaces, or symbols!";
    color: red;
}

.phone-error::after {
    content: '   Phone number must contain 10 digits!';
    color: red;
}

.email-error::after {
    content: '   email is not valid!';
    color: red;
}

.fa-circle-check {
    color: green;
    size: 30px;
}

.model-box {
    padding: 40px 80px;
    text-align: center;
}

.model-section {
    padding: 200px 800px;
}

dialog:modal {
    top: 35%;
    left: 35%;
}